.services {
    .top {
        @apply grid lg:grid-cols-2 gap-5;

        p {
            @apply md:text-[22px] lg:text-right xl:text-2xl leading-normal;
        }
    }
    .list_primary {
        @apply grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2.5 sm:gap-5 2xl:gap-space-large;

        &.isPage {
            @apply max-xs:grid-cols-1;
        }
    }
    .list_secondary {
        @apply grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-2.5 sm:gap-5 2xl:gap-space-large;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
